/* TODO penser à reporter https://git.spip.net/spip/dist/commit/f044188c218cf4b4924343d2cf1e59ddc77677f9 ici */

/* puce */
.spip-puce b {display:none;}
.spip-puce {
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 0.7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.spip-puce:before {
	content: "\203A";
}

/* Listes SPIP */
ul.spip,
ol.spip { margin-left: 50px; }
ul.spip { list-style-type: disc; }
li ul.spip { list-style-type: circle; margin-bottom: 0; }
ol.spip { list-style-type: decimal; }
dl.spip dt,
dl.spip dd { padding-left: 50px; }
dl.spip dt { clear: both; }

/* Citations, code et poesie */
.spip_poesie div { margin-left: 50px; text-indent: -50px; }
.spip_code,
.spip_cadre { font-family: 'andale mono','lucida console',monospace; font-size: 1em; }
.spip_cadre { padding: 0.75em; width: 100%; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Logos, documents et images */
.spip_logo { float: left; margin: 0; margin-right: 1.5em; margin-bottom: 1.5em; padding: 0; border: none; }
.spip_documents { margin-bottom: 1.5em; padding: 0; background: none; max-width: 100%; }
.spip_documents,
.spip_documents_center,
.spip_doc_titre,
.spip_doc_descriptif,
.spip_doc_credits { margin-right: auto; margin-left: auto; text-align: center; min-width: 120px; }
.spip_documents_center { clear: both; display: block; width: 100%; }
.spip_documents_left { float: left; margin-right: 1.5em; max-width: 33%; }
.spip_documents_right { float: right; margin-left: 1.5em; max-width: 33%; }
.spip_doc_descriptif { clear: both; }
.spip_doc_credits { font-style: italic; clear: both; }
.spip_documents > a { display: inline-block; }
.spip_documents table { text-align: left; }
table.spip .spip_document_image { width: auto !important; }

/* Adaptation aux nouveaux modeles document SPIP 3.3 */
.spip_document { display: flex; justify-content: center;align-items: center; }
.spip_doc_inner{ margin: 0 auto; text-align: center; max-width: 100%; }
.spip_doc_inner > * { margin-left: auto; margin-right: auto; }
.spip_document .spip_doc_lien { display: inline-block; }
.spip_doc_legende { display: block; max-width: 25em; }
/* Fin adaptation */

/* Modeles par defaut */
.spip_modele { float: right; display: block; width: 25%; border: 1px dotted #666; }
.spip_surligne { background-color: yellow; }

/* Paragraphes */
div.spip,
ul.spip,
ol.spip,
.spip_poesie,
.spip_cadre,
div.spip_code,
.spip_documents.spip_documents_center { margin-bottom: 1.5em; }

/* Pagination */
.pagination { clear: both; text-align: center; }
@media print {
	.pagination { display: none; }
}

/* Notes */
.notes > div { padding-left: 50px; position: relative; }
.notes .spip_note_ref { display: block; position: absolute; left: 0; }

/* Liens de SPIP */
a.spip_note { font-weight: bold; }

/* liens vers encyclopedie */
@media print {
	a.spip_out:after,
 	a.spip_url:after { content: " (" attr(href) ")"; }
}

/* Boutons action */
.bouton_action_post,
.bouton_action_post>div { display: inline; }

/* Boutons d'admin */
@media print {
	.spip-admin,
	#spip-admin { display: none; }
}
