/* Titraille / Intertitres */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 { font-weight: bold; font-family: var(--font-sans); }

h1, h1 a, h1 a:focus, h1 a:hover, h1 a:active,
.h1, .h1 a, .h1 a:focus, .h1 a:hover, .h1 a:active,
h2, h2 a, h2 a:focus, h2 a:hover, h2 a:active,
.h2, .h2 a, .h2 a:focus, .h2 a:hover, .h2 a:active,
h3, h3 a,
.h3, .h3 a { color: #222; }

/* Citations, code et poesie */
.spip_code { color: #777; }
.spip_cadre { color: #777; background-color: #fff; border: 1px solid #ddd; }

/* Tableaux */
table.spip tr.row_even td,table.spip tr.row_even th { background: transparent; }

/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */
body { background: #fff; font-size: 120%; }

.page { display: flex; min-height: 100vh; flex-direction: column; }
.page .container { flex: 1; }

.header { margin: 0; padding : 0.5em 0; position: relative; background: #111; box-shadow: 0 6px 6px -6px rgba(0,0,0,0.2); border-bottom: 1px solid #dedcd2; }
.header .container { position: relative; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.header .accueil .spip_logo { float: none; margin: 0 0.25em 0 0; }
.header .accueil #nom_site_spip { display: flex; align-items: center; margin-bottom: 0; color: #fff; line-height: 1; }
.header .accueil a,
.header .accueil a:hover { color: #fff; text-decoration: none; }
@media (max-width: 576px) {
    .header .container { justify-content: space-around; }
    .header .accueil .spip_logo { display: block; margin: 0 auto 0.5em; }
    .header .accueil #nom_site_spip { display: block; text-align: center; }
}

.nav .menu-items { margin: 0; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; font-family: var(--font-sans); }
.nav .item { padding: 1em 0; }
.nav .item a { color: #fff; white-space: nowrap; font-size: 1.5em; transition: all 0.3s ease-out; }
.nav .item.on { font-weight: normal; }
.nav .item a:hover { color: #0073aa; text-decoration: none; }
#nav-toggle-label { z-index: 2000; display: inline-block; line-height: 1; font-family: var(--font-sans); font-weight: bold; color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,0.55); cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#nav-toggle ~ .menu { top: -100%; transition: all 0.3s ease-in-out; }
#nav-toggle:checked ~ .menu { top: 0; }
.toggle-picto { font-size: 1.5em; }
.toggle-text { font-size: 1.25em; }
@media (max-width: 576px) {
    .toggle-picto { font-size: 2em; }
    .toggle-text { display: none; }
    #nav-toggle-label { position: absolute; top: 0; right: 1em; }
}
#nav .menu { position: fixed; left: 0; right: 0; height: 100%; overflow-y: auto; background: #111; z-index: 1999; }

.footer,
.footer a { color: rgba(0,0,0,0.55); font-family: var(--font-sans); }
.footer a:hover { text-decoration: none; }

.breadcrumb { clear: both; margin-bottom: 1.5em; font-size: 0.75em; font-family: var(--font-sans); }
.breadcrumb, .breadcrumb a { color: rgba(0,0,0,0.55); }
.page_sommaire .breadcrumb { display: none; }

.cartouche { margin-bottom: 1.5em; }
.cartouche h1 { margin-bottom: 0; }
.cartouche .spip_logo { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche .publication,
.cartouche .postmeta { margin: 0; padding: 0; clear: left; font-size: 0.9em; }
.entry .publication,
.entry .postmeta { font-size: 0.9em; }
.publication,
.postmeta { color: rgba(0,0,0,0.55); font-family: var(--font-sans); }
.publication a,
.postmeta a { color: rgba(0,0,0,0.55); }
.publication a:hover,
.postmeta a:hover { color: #0073aa; }
.postmeta > :first-child > .sep:first-child { display: none; }
.postmeta .tags ul,
.postmeta .tags ul li { margin: 0; }
div.socialtags { clear: none; margin-top: 0.75em; }
div.socialtags img { height: 24px; }

.chapo { margin-bottom: 1.5em; font-weight: bold; font-size: 1.125em; color: rgba(0, 0, 0, 0.7); }
.ps, .notes { margin-bottom: 1.5em; }
.notes { clear: both; font-size: 0.846em; }

.main .logo_full { display: block; margin-bottom: 1.5em; }

/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Listes d'articles et extraits introductifs */
.articles.logos h3 { margin-bottom: 0.5em; }
.long.logos .spip_logo { float: none; margin: 0 0 0.5em; }
.long.logos .publication { margin-bottom: 0.25em; }

.menu .h2 { margin-bottom: 1em; }

.formulaire_recherche { margin: 0; }
.formulaire_recherche input.text { min-width: 240px; text-align: center; padding: 0.25em; }

/* ------------------------------------------
/* Couleurs des liens
---------------------------------------------- */
a { color: var(--color); text-decoration: none; }
a:focus,a:hover,a:active { color: var(--color); text-decoration: underline; background-color: transparent; border-color: transparent; }

/* ------------------------------------------
/* Variantes
/* ------------------------------------------ */

.page_upload #container,
.page_publier #container,
.page_ticket #container,
.page_tickets #container,
.page_editer_ticket #container,
.page_recherche_avancee #container,
.page_article #container { max-width: 760px; }

#container.fullwidth { max-width: none; width: 100%; }

.page_login .content { max-width: 360px; margin: 0 auto; padding: 1em 0; text-align: center; }
.page_login #breadcrumb,
.page_login .cartouche h1 small,
.page_login #formulaire_menu_lang,
.page_login #formulaire_login legend,
.page_login #formulaire_login #spip_logo_auteur,
.page_login .formulaire_login #pass_securise { display: none !important; }
.page_login .formulaire_login *,
.page_login .formulaire_login label { text-align: center; }

/* page auteur + auteurs */
.liste.auteurs .item { display: flex; }
.liste.auteurs .item .vcard { margin-left: 0.5em; }
.liste.auteurs .item .vcard .titre { margin: 0; }
.liste.auteurs .item .vcard a { color: inherit; }
.liste.auteurs .item .vcard a:hover { text-decoration: none; }



/* ------------------------------------------
/* ------------------------------------------
/* Styles par defaut geodiversite
/* ------------------------------------------ */
/* ------------------------------------------ */


/*  ------------------------------------------
/*  navigation
/*  ------------------------------------------ */

.menu.carte .geo,
.menu.carte .adr { display: inline; }
.menu.carte .geo { font-size: 1.3em; }
.menu.carte .geo abbr { border: 0; }

.menu.serie { margin-top: 1em; }
.menu.serie h2 { display: none; }
.menu.serie .image_loading { display: none; }
.menu.serie .liste-items { text-align: center; }
.menu.serie .liste-items .item.pagination .lien_pagination { display: block; width: 18px; height: 56px; line-height: 56px; text-align: center; font-weight: bold; background: #f2f2f2; color: #666; }
.menu.serie .liste-items .item.pagination .lien_pagination:hover { text-decoration: none; color: var(--color); }
.menu.serie .liste-items .item.pagination.prev .lien_pagination { float: left; }
.menu.serie .liste-items .item.pagination.next .lien_pagination { float: right; }
.menu.serie .liste-items .item { padding: 0; }
.menu.serie .liste-items .item .spip_logos { float: none; clear: none; margin: 0; padding: 1px; border: 1px solid transparent; }
.menu.serie .liste-items .item:hover .spip_logos,
.menu.serie .liste-items .item.on .spip_logos { border-color: #aaa; }

.menu.tags .nuage dt { font-weight: normal; }
.menu.tags .nuage dd { display: none; }

.menu div.socialtags { margin: 0; display: inline; }
.menu .socialtags ul,
.menu .socialtags ul li { background: none; padding: 0; }
.menu .puces li { padding: 0 0 0 1em; background: transparent url(img/puce.png) left 50% no-repeat; }
.menu .actions { text-align: right; margin: 3px 0 0; }
.menu dl dt { font-weight: bold; margin: 5px 0; }
.menu dl dd { margin: 2px 0 2px 20px; }

.menu.filtres .liste-items .item { display: inline-block; margin-right: 1em; padding: 0 0.25em; border: 1px solid #ddd; border-radius: 0.25em; }
.menu.filtres .liste-items .item:last-child { margin-right: 0; }
.menu.filtres .liste-items .item a.delete { display: inline-block; padding-left: 20px; color: #666; background: transparent url(img/close.png) left 50% no-repeat; }
.menu.filtres .liste-items .item a.delete:hover { color: var(--color); }
.menu.rubriques .liste-items .item { margin-right: 0; }
.menu.rubriques .liste-items .item:not(:last-child):after { content: " | "; }

.menu.categories { text-align: center; }

/*  ------------------------------------------
/*  pied
/*  ------------------------------------------ */

#footer a:hover { color: var(--color);}
.footer .liste { margin: 10px 0; }
.footer .h3,
.footer .menu-liste,
.footer .menu-liste .menu-entree,
.footer .menu-liste .menu-entree a { display: inline; border: 0; padding: 0; }
.footer .menu-liste .menu-entree { margin-left: 0.5em; }
.footer .h3 { font-size: 1em; }
.footer a { color: #666; }
.footer .on { font-weight: normal; }

/* boutons admin */
body .spip-admin-float { right: 5px; margin: 5px auto 0; z-index: 2001; font-size: 80%; }
body a.spip-admin-boutons { border: 1px solid #ddd; color: #666; background: #fff; }
body a.spip-admin-boutons:hover { color: var(--color); background: #fff; }

/*  ------------------------------------------
/*  pages sommaire, articles et rubriques
/*  ------------------------------------------ */

.page_sommaire #extra { display: none; }
.page_sommaire .content { float: none; width: 80%; margin: 30px auto 0; }
.page_sommaire .content .menu { float: right; clear: none; width: 43%; padding: 12px 15px; background: #f2f2f2; }

.page_sommaire .content .menu .h2 { margin: 0; padding: 0; color: #666; font-size: 1.5em; }
.page_sommaire .content .menu .menu-liste { margin: 0.4em 0; padding: 0.2em 0.1em; font-size: 1.1em; border: 0; }
.page_sommaire .content .menu .menu-liste .menu-entree { display: inline; margin: 0; padding: 0; }
.page_sommaire .content .menu .menu-liste .menu-entree:before { content: ";\0000a0" }
.page_sommaire .content .menu .menu-liste .menu-entree:first-child:before { content: "" }
.page_sommaire .boites .liste-items .item { float: left; clear: none; width: 25%; margin: 0; }

.page_sommaire .image_pop { float: left; clear: none; width: 50%; position: relative; }
.page_sommaire .image_pop .description { display: block; padding: 4px; background: #f2f2f2; position: absolute; top: 10px; left: 0; opacity: 0.75; }
.page_sommaire .image_pop .description:hover { opacity: 1; }
.page_sommaire .image_pop .description h2,
.page_sommaire .image_pop .description .auteur,
.page_sommaire .image_pop .description a { padding: 0; font: bold 12px Arial,helvetica; color:#333; text-decoration: none; opacity: 1; }


.page_article .cartouche,
.page_ticket .cartouche { margin: 10px 0 20px; }

.cartouche { margin-bottom: 0; }
.cartouche .h1 { display: none; }
.cartouche .info-publi { overflow: hidden; }
.cartouche .info-publi .info-date,
.cartouche .info-publi .info-auteur { display: inline; }
.cartouche .avatar { float: left; margin-right: 10px; }
.cartouche p { margin: 0; line-height: 1;clear: none; margin: 0; padding: 0; }
.cartouche .spip_logos { float: left; margin: 0 16px 4px 0; }

.chapo { width: 93%; margin-bottom: 15px; font-size: 1em; }

.page_article .media_wrapper { margin: 0; }
.image-annotate-note .note-text img { display: block; float: left; margin: 2px 5px 2px 0; }
.image-annotate-note .note-text .author a { color: #666; }
.image-annotate-note .note-text .author a:hover { color: var(--color); }
.image_legendes .nb_notes { margin-bottom: 0; font-size: 80%; font-family: inherit; }
.doc_echelle { margin: 5px 0 0; font-size: 80%; }
.logo_audio { display: block; }

.documents_annexes .documents_portfolio { text-align: left; }
.documents_annexes .documents_portfolio .liste-items .item { display: inline-block; text-align: center; }
.documents_annexes .documents_portfolio .spip_logos { border: 1px solid #aaa; padding: 4px; }
.documents_annexes .documents_portfolio .on .spip_logos { border: 3px solid #aaa; padding: 2px; }
.documents_annexes .documents_portfolio a { border: 0; }

/* Listes d'articles et extraits introductifs */

.page_mot .content .liste.articles ,
.page_rubrique .content .liste.articles { clear: both; }

.content .liste-items .item { margin-bottom: 0; }
.liste-items .item .info-publi { margin-left: 0; padding: 0; background: transparent; }

.liste .liens_options { margin: 0; color: #999; }

.liste .liste-items .item .titre a { display: block; }
.liste .liste-items .item .spip_logo { float: none; margin: 0; display: block; }

.liste .liste-items .item .titre { margin: 0.3em 0 0; }
.liste .liste-items .item .texte { margin: 0.4em 0; line-height: 1.2em; }
.liste .liste-items .item p { margin: 0; }

/*  ------------------------------------------
/*  page carte
/*  ------------------------------------------ */

.page_carte html,
.page_carte body { height: 100%; }
.page_carte .page { overflow: hidden; width: 100%; margin: 0; height: 100%; position: absolute; left: 0; }
.page_carte #container,
.page_carte #container .content,
.page_carte #container .content .carte_gis { width: 100%; max-width: none; margin: 0; height: 100%; position: relative; }
.page_carte .breadcrumb { display: none; }
.page_carte .footer { position: absolute; bottom: 0; background: #fff; z-index: 1000; }
.page_carte .footer #bouton { position: absolute; top: -20px; right: 10px; background: transparent url(img/bouton_pied.png) -40px top no-repeat; width: 40px; height: 20px; }
.page_carte .footer.cache #bouton { background-position: left top; }
.page_carte .footer #bouton:hover { cursor: pointer; }

/* TODO à reprendre */
.page_carte .info_filtre { display: block; float: left; padding: 5px 15px 4px 10px;
	background: #999 url(img/bg_info_filtre.png) right 50% no-repeat; color: #fff; }
.page_carte .info_filtre #close_filtre { display: inline-block; height: 16px; width: 16px; margin-left: 5px;
	text-indent: -3000em; background: transparent url(img/close.png) 50% 50% no-repeat; }

/* forcer le fullscreen pour webkit 
https://developer.mozilla.org/en/DOM/Using_full-screen_mode#Presentation_differences */
#geomap:-webkit-full-screen { width: 100% !important; height: 100% !important; }

.page_carte .leaflet-control-layers label { float: left; }
.page_carte .leaflet-bottom.leaflet-right { right: 60px; }

.page_carte div#kml_panel { margin-right: 10px; margin-top: 35px; width: 200px; padding: 5px;
	background: #fff; border: 5px solid #f2f2f2; }
.page_carte #kml_panel h3 { margin: 0 0 5px; cursor: move; padding-right: 18px; }
.page_carte #kml_panel.replie h3 { margin: 0; border: 0; }
.page_carte #kml_panel #toggle { display: block; float: right; width: 18px; height: 18px; text-indent: -3000em;
	background: transparent url(img/noeud_moins.gif) 50% top no-repeat; }
.page_carte #kml_panel #toggle:active,
.page_carte #kml_panel #toggle:focus { outline: 0 none; }
.page_carte #kml_panel.replie #toggle { background: transparent url(img/noeud_plus.gif) 50% top no-repeat; }
.page_carte #kml_panel .liste-items { max-height: 250px; overflow-y: auto; display: none; margin: 0; }
.page_carte #kml_panel .liste-items .item { padding: 0.25em 0; }
.page_carte #kml_panel input.checkbox { vertical-align: middle; }

.geol_window .descriptif_window { width: 225px; }
.geol_window h3 { font-size: 1.2em;	margin: 0 0 5px; }
.geol_window .auteurs {	display: block; margin: 5px 0; }
.geol_window .lien_logo { display: block; text-align: center; }
.geol_window .multi .liste-items { list-style: none; margin: 0; padding: 0; }
#geomap .geol_window .multi .liste-items .item { border-bottom: 1px solid #ddd; margin: 0 0 10px; padding: 0 0 5px; }
#geomap .geol_window .multi .liste-items .item .lien_logo { float: left; }
.geol_window .multi .liste-items .item .desc { margin-left: 60px; }
.geol_window .multi .pagination { text-align: center; }

.marker-geodiv div { box-sizing: content-box; background-color: var(--color); color: #fff; text-align: center; font: bold 11px "Helvetica Neue", Arial, Helvetica, sans-serif; }

.marker-clusterer div { width: 30px; height: 30px; margin: 12px 0 0 12px; border-radius: 10px; border: 2px solid #fff; }
.marker-clusterer span { line-height: 30px; }

.leaflet-progress { display: none; position: absolute; left: 50%; top: 50%; margin-left: -100px; margin-top: -10px; width: 200px; height: 20px; background-color: #fff; padding: 2px; }
.leaflet-progress-bar { width: 0; height: 100%; background-color: var(--color); border-radius: 4px; }

/* listes des pages galerie
----------------------------------------------- */

.liste .pagination { margin: 20px 0; text-align: center; }
.liste .pagination strong.on,
.liste .pagination a { padding: 5px 10px; line-height: 2em; border: 1px solid #ddd;  }
.liste .pagination strong.on { background: #ddd; }
.liste .pagination .disabled { display:none; }

/* page auteur + auteurs
----------------------------------------------- */

.page_auteur .profil { overflow: hidden; margin-bottom: 1em; }
.page_auteur .profil .avatar { display: block; }
@media (max-width: 576px) {
	.page_auteur .profil { text-align: center; }
	.page_auteur .profil .avatar { float: none; margin: 0 auto 1em; }
}
.page_auteur .profil p { margin-bottom: 0.25em; }

.menu.auteur .liste-items .item { display: inline; color: #999; }

.suivi .liste-items .item { display: inline-block; margin-right: 1em; padding: 0; }
.suivi .liste-items .item:last-child { margin-right: 0; }
.suivi .liste-items .item a { display: block; padding: 10px 0; }
.suivi .liste-items .item a { padding-left: 1.5em; }
.suivi .rss { background: transparent url(img/rss.png) left 50% no-repeat; }
.suivi .kml { background: transparent url(img/kml.png) left 50% no-repeat; }
.suivi .georss { background: transparent url(img/georss.png) left 50% no-repeat; }

.vignettes .liste-items .item { display: inline; }
.vignettes .liste-items .item a:hover { text-decoration: none; }

.menu.auteurs .liste-items .item { display: inline-block; margin-right: 1em; padding: 0.25em 0.5em; border: 1px solid #ddd; border-radius: 0.5em; line-height: 1; }
.menu.auteurs .liste-items .item:last-child { margin-right: 0; }
.menu.auteurs .liste-items .item a { display: flex; flex-direction: row; align-items: center; text-decoration: none; color: #666; }
.menu.auteurs .liste-items .item a:hover { color: var(--color); }
.menu.auteurs .liste-items .item .fn { display: inline; font-size: 1.2em; font-weight: bold; }
.menu.auteurs .liste-items .item img { float: none; margin: 0 0.5em 0 0; border-radius: 100%; }

.amis .liste-items .item .action { display: block; margin-top: 5px; }

/* page login + spip_pass + 404
----------------------------------------------- */

.page_login .page #container,
.page_spip_pass .page #container { width: 360px; margin: 0 auto; padding-top: 35px; }
.page_login .content,
.page_spip_pass .content { float: none; width: 100%; }
.page_404 #container { background: transparent url(images/bg_404.png) right 50% no-repeat; }

/* page upload
----------------------------------------------- */

.page_upload #em_message_avant_upload { border: 0; }
.page_upload #em_upload_document .fieldset,
.page_upload .formulaire_supprimer_document,
.page_upload #formulaire_diogene .editer_titre,
.page_upload #formulaire_diogene .editer_id_collection,
.page_upload #formulaire_diogene .diogene_dates,
.page_upload #formulaire_diogene .editer_texte,
.page_upload #formulaire_diogene .fieldset { margin: 20px 0; padding: 10px; border: 5px solid #f2f2f2; background: #fff; }
.page_upload .previsu_document { border: 0; }
.page_upload .content .h2,
.page_upload .content div.texte,
.page_upload .previsu_document h4,
.page_upload .previsu_document .infos_document,
.page_upload .previsu_document a.legende_add,
.page_upload #formulaire_diogene .editer_titre .aide,
.page_upload #formulaire_diogene .editer_texte .aide,
.page_upload #formulaire_diogene .editer_id_parent,
.page_upload #formulaire_diogene .editer_parent,
.page_upload #formulaire_diogene .editer_parents,
.page_upload #formulaire_diogene .diogene_geo > fieldset > .choix,
.page_upload #formulaire_diogene .editer_zoom,
.page_upload #formulaire_diogene .editer_gis_titre,
.page_upload #formulaire_diogene .editer_gis_descriptif { display: none; }
.page_upload #formulaire_diogene h3.legend { margin-bottom: 10px; } /* obsolète, à virer ? */
.page_upload .formulaire_message { font-weight: bold; }
.page_upload .diogene_geo #geomap { width: 100%; height: 350px; }
.page_upload #em_upload_boutons { background: #f2f2f2; color: #666; border: 4px solid #fff; border-radius: 8px; box-shadow: 0 1px 3px #999; }

/* Messages des forums
----------------------------------------------- */

.comments-list ul { margin: 0; list-style: none; }
.comments-list .comment-meta { margin: 0 0 1em;  display: flex; flex-wrap: wrap; background-color: #f2f2f2; }
.comments-list .comment-meta .photo { margin: 0; }
.comments-list .comment-meta .reviewer { margin-left: 0.5em; flex-grow: 1; }
.comments-list .comment-meta-date { color: #999; }



/*  ------------------------------------------
/*  Les formulaires
/*  ------------------------------------------ */

.formulaire_inscription,
.formulaire_login,
.formulaire_oubli,
.formulaire_mot_de_passe,
.formulaire_ecrire_auteur,
.formulaire_editer_mot_article,
.formulaire_spipicious,
.formulaire_editer_gis,
.formulaire_editer_licence,
.formulaire_creer_collection_rapide,
.formulaire_newsletter_subscribe,
.formulaire_joindre_document { width: auto; margin: 10px auto; padding: 10px; border: 1px solid #ddd; background: #f5f5f5; }
div.formulaire_ecrire_auteur fieldset legend,
div.formulaire_login fieldset legend,
div.formulaire_oubli fieldset legend,
div.formulaire_mot_de_passe fieldset legend,
div.formulaire_spipicious fieldset legend { background: transparent; }

.formulaire_spip fieldset.previsu { border: 1px dashed #bbb; }
.formulaire_spip fieldset.previsu legend { color: #666; }
.formulaire_spip .reponse_formulaire { text-align: center; font-size: 1.1em; }
.formulaire_spip .reponse_formulaire_ok { color: var(--color); }

/* inscription + login */

.formulaire_inscription fieldset legend,
.formulaire_inscription fieldset p.explication { display: none; }
.formulaire_inscription p.boutons { text-align: center; }
.formulaire_login .password { width: 15em; border: 1px inset; }

/* editer_mot_article */

.formulaire_editer_mot_article { width: 50%; margin: 10px 0; }

/* formulaire_forum */

.formulaire_forum .session_qui,
.formulaire_forum .saisie_texte label,
.formulaire_forum .saisie_texte .explication,
.formulaire_forum .previsu .forum-chapo .forum-titre { display: none; }
.formulaire_forum .previsu .forum-chapo small { font-size: 1em; }
.formulaire_forum .previsu .forum-chapo small span { font-weight: bold; }

/* formulaire_editer_gis */

.formulaire_editer_gis .editer_titre,
.formulaire_editer_gis .editer_descriptif { display: none; }

/* recherche avancee */

.formulaire_recherche_geol { width: 90%; margin-top: 10px; }
.formulaire_spip.formulaire_recherche_geol ul li { overflow: hidden; padding: 15px 10px 15px 150px; border-top: 1px solid #ddd; }
.formulaire_recherche_geol ul li:first-child { border-top: 0; }
.formulaire_recherche_geol ul li label { float: left; width: 140px; margin-left: -145px; text-align: left; vertical-align: top;
	/* pour IE6 */ position: relative; display: inline; }
.formulaire_recherche_geol ul>li label { display: block; position: static; }
.formulaire_recherche_geol li.choix { padding-left : 10px; }
.formulaire_recherche_geol .choix label { float: none; margin-left: 5px; display: inline; width: auto; vertical-align: middle; }
.formulaire_recherche_geol .choix input.radio,
.formulaire_recherche_geol .choix input.checkbox { width: auto; vertical-align: middle; }
.formulaire_recherche_geol .saisie_mot select { width: 15em; }


/* boutons actions */
.actions_doc { margin: 0; overflow: hidden; } /* astuce pour le p qui contient que des floats */
.actions_doc a,
.actions_doc .formulaire_favori form button.ajouter_favori,
.actions_doc .formulaire_favori form button.ajouter_favori:hover,
.actions_doc .formulaire_favori form button.retirer_favori,
.actions_doc .formulaire_favori form button.retirer_favori:hover {
	display: block; float: left; width: 20px; height: 20px; margin-right: 10px; text-indent: -3000em;
	background: transparent url(img/sprite_actions_doc.png) left top no-repeat; }
.actions_doc a.zoom { background-position: 0 -20px; }
.actions_doc a.zoom:hover { background-position: 0 0; }
.actions_doc a.telecharger { background-position: 0 -60px; }
.actions_doc a.telecharger:hover { background-position: 0 -40px; }
.actions_doc a.ajouter_note { background-position: 0 -100px; }
.actions_doc a.ajouter_note:hover { background-position: 0 -80px; }
.actions_doc a.rotation_gauche { background-position: 0 -140px; }
.actions_doc a.rotation_gauche:hover { background-position: 0 -120px; }
.actions_doc a.rotation_droite { background-position: 0 -180px; }
.actions_doc a.rotation_droite:hover { background-position: 0 -160px; }
.actions_doc a.modifier { background-position: 0 -220px; }
.actions_doc a.modifier:hover { background-position: 0 -200px; }
.actions_doc a.supprimer { background-position: 0 -260px; }
.actions_doc a.supprimer:hover { background-position: 0 -240px; }

.actions_doc .formulaire_favori { float: left; margin-left: 0; }
.actions_doc .formulaire_favori form button.ajouter_favori span,
.actions_doc .formulaire_favori form button.retirer_favori span { display: none; }
.actions_doc .formulaire_favori form button.ajouter_favori { background-position: 0 -300px; } 
.actions_doc .formulaire_favori form button.ajouter_favori:hover { background-position: 0 -280px; } 
.actions_doc .formulaire_favori form button.retirer_favori { background-position: 0 -340px; } 
.actions_doc .formulaire_favori form button.retirer_favori:hover { background-position: 0 -320px; } 

.actions_doc .formulaire_notation { float: right; margin-right: 10px; }
.actions_doc .formulaire_notation .note { border: 0; }

/* formulaire favoris */

.liste.articles form.lien_action button.submit { width: auto; overflow: visible; border: 0; cursor: pointer; color: var(--color); background: transparent url(img/puce.png) left 50% no-repeat; padding: 0 0 0 12px; font-size: 100%; }
.liste.articles form.lien_action button.submit:hover { color: #e83418; }

/* les crayons */

.geomodale,
.mot_doux { padding: 5px; border: 5px solid #f2f2f2; background: #fff; }
body .crayon-html .formulaire_spip { margin-bottom: 5px; padding: 5px; background: #fff; }
body .crayon-html .formulaire_spip .formulaire_crayon { padding-bottom: 10px; }
body .crayon-html .formulaire_spip .legend { text-align: left; }
body .crayon-html .editer_logo h3.legend { font-size: 1em; }
body .crayon-html .editer_logo div.choix,
body .crayon-html .editer_logo input.file { display: inline; }
body .crayon-html .formulaire_crayon .crayon-boutons { float: none; position: static; width: auto; margin-top: 10px; bottom: 10px; text-align: right; }
body .crayon-html .formulaire_crayon .crayon-boutons button { width: auto; height: 32px; padding: 0 0.5em; margin-bottom: 0; text-indent: 0; cursor: pointer; background: #f2f2f2; color: #666; border: 4px solid #fff; border-radius: 8px; box-shadow: 0 1px 3px #999; }
body .crayon-html .formulaire_crayon .crayon-boutons button:hover { color: var(--color); }
body .crayon-html .formulaire_crayon .crayon-boutons .crayon-submit { font-weight: bold; margin-left: 15px; }
body .resizehandle_boutons { margin-top: 0; }

/* fausse modale pour certains formulaires */

.geomodale { position: absolute; z-index: 1; width: 600px; left: 50%; margin-left: -300px; background: #ddd; }
