parameters:
	ignoreErrors:
		-
			message: '#^Call to static method depuisRequest\(\) on an unknown class Spip\\Bigup\\Identifier\.$#'
			identifier: class.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function cextras_obtenir_saisies_champs_extras not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function champs_extras_autorisation not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function champs_extras_objet not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function champs_extras_saisies_lister_avec_sql not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function gis_supprimer not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function saisies_lister_champs not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function saisies_verifier not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function supprimer_lien_document not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function test_plugin_actif not found\.$#'
			identifier: function.notFound
			count: 2
			path: formulaires/editer_media.php

		-
			message: '#^Instantiated class Spip\\Bigup\\Bigup not found\.$#'
			identifier: class.notFound
			count: 1
			path: formulaires/editer_media.php

		-
			message: '#^Function insert_menu not found\.$#'
			identifier: function.notFound
			count: 1
			path: geol_administrations.php

		-
			message: '#^Function menu_set not found\.$#'
			identifier: function.notFound
			count: 1
			path: geol_administrations.php

		-
			message: '#^Function sql_error not found\.$#'
			identifier: function.notFound
			count: 4
			path: geol_administrations.php

		-
			message: '#^Function couleur_html_to_hex not found\.$#'
			identifier: function.notFound
			count: 1
			path: geol_fonctions.php

		-
			message: '#^Function auteurs_objet not found\.$#'
			identifier: function.notFound
			count: 2
			path: geol_options.php
